
<!-- <div *ngFor="let planitems of plans" class="card-container" >
  <mat-card class="custom-card">
    <div class="plan-header" style="background: linear-gradient(to right,  #7091F5,#40128B ); ">
      <h2>Basic Monthly Plan</h2>
    </div>
    <mat-list>
      
      <mat-list-item>
        <strong>Internet</strong>
      </mat-list-item>
      <br/>
      <mat-list-item>
        <strong></strong> {{planitems.internet}}
      </mat-list-item>
      <hr/>
      <mat-list-item>
        <strong>Speed</strong>
      </mat-list-item>
      <br/>
      <mat-list-item>
        <strong></strong> {{planitems.speed}}
      </mat-list-item>
      <hr/>
      <mat-list-item>
        <strong>Calls</strong> 
      </mat-list-item>
      <br/>
      <mat-list-item>
        <strong></strong> {{planitems.calls}}
      </mat-list-item>
      <br/>
      <mat-divider></mat-divider>
      
      <div class="plan-footer">
        <span class="cost">{{planitems.cost}}</span>
        <button mat-raised-button color="primary" class="custom-button" style="color: white;" (click)="addplan(planitems)">Add Plan</button>
      </div>
    </mat-list>
  </mat-card>
</div> -->




<!-- <div class="parent">
  <div class="c1">
    <div>
      <ul>
      
      <li><button>Basic Monthly button</button></li>
      <li>price</li>
      <li>icon</li>
       
    </ul>
</div>
  </div>
  <hr/>
  <div class="c2"></div>
</div> 

<div class="h-100 j-container">
  <div class="j-card h-100 css-gald6h bg--primary-background size--s card-vertical j-card__shadow">
    <div class="j-card__flex">
      <div class="j-card__content">
        <div class="j-contentBlock j-contentBlock__size-s">
          <div class="j-contentBlock__caption">
            <div class="j-listBlock align-middle">
              <div class="j-listBlock__main">
                <div class="j-listBlock__block-root">
                  <div class="j-listBlock__block j-listBlock__block-captionBlock">
                    <div class="j-listBlock__block-text">
                      <div class="j-badge j-badge-size__small">
                        <span class="j-text j-text-body-xxs-bold">Netflix included</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="j-contentBlock__body">
            <div class="j-contentBlock__content">
              <div class="j-contentBlock__title">
                <div class="j-container">
                  <section class="css-1h3rtzg j-container l-layout--flex">
                    <div><h3 class="j-heading j-text-heading-m">₹1099</h3>
                    </div></section><div class="css-1al1b2p j-container">
                      <div class="css-x9j1al">
                        <div class="j-container">
                          <span class="j-icon" style="--icon-size-svg: 100%; --icon-size: 2.5rem;"><img alt="logo" src="https://jep-asset.akamaized.net/jiocom/static/images/ic_jiotv-n.svg" priority="low" loading="lazy" class="css-1d3w5wq"></span>
                        </div>
                        <div class="j-container"><span class="j-icon" style="--icon-size-svg: 100%; --icon-size: 2.5rem;"><img alt="logo" src="https://jep-asset.akamaized.net/jiocom/static/images/Z0072.svg" priority="low" loading="lazy" class="css-1d3w5wq"></span>
                        </div>
                        <div class="j-text j-text-body-xs" style="--color-text: var(--color-primary-grey-80);">+2 more</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="j-card__children">
          <div class="css-cdmzx1 j-contentBlock j-contentBlock__size-xxs">
            <div class="j-contentBlock__body">
              <div class="j-contentBlock__content">
                <div class="j-contentBlock__title">
                </div>
                <div class="j-contentBlock__children">
                  <span class="sp--s pd--bottom j-Space__vertical j-Space"></span>
                  <div class="j-Divider_hr_container"><div class="j-Divider_hr_container__hr" role="separator" style="height: 2px;">
                  </div>
                </div>
                <span class="sp--s pd--bottom j-Space__vertical j-Space"></span>
                <div class="j-grid" style="align-items: flex-start; --grid-template: 1fr 1.5fr; --grid-gap: 0.5rem; --grid-align: center;">
                  <div><h4 class="j-text j-text-body-xs" style="--color-text: var(--color-primary-grey-80);">Validity</h4><div class="j-text j-text-body-s-bold">84 Days</div>
                </div><div><h4 class="j-text j-text-body-xs" style="--color-text: var(--color-primary-grey-80);">Data</h4><div class="j-text j-text-body-s-bold">2 GB/Day</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div></div><div class="j-card__footer"><div class="j-button-group"><button class="j-button j-button-size__medium primary" aria-label="Recharge" iconposition="left" tabindex="-1"><div style="flex-basis: unset;">Recharge</div></button><button class="j-button j-button-size__medium tertiary" aria-label="View details" iconposition="left" tabindex="-1"><div style="flex-basis: unset;">View details</div></button></div></div></div></div> -->

  <!-- <div>
    <button mat-button (click)="selectType('individual')">Individual</button>
    <button mat-button (click)="selectType('business')">Business</button>
  </div> -->

  <div class="toggle-buttons">
    <mat-button-toggle-group [(ngModel)]="selectedType" class="toggle-group">
      <mat-button-toggle value="individual" class="toggle-button" (click)="selectType('individual')">Individual</mat-button-toggle>
      <mat-button-toggle value="business" class="toggle-button" (click)="selectType('business')">Business</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="card-container">
    <mat-card *ngFor="let planitems of getFilteredPlans()" class="card">
      <mat-card-header class="card-header">
        <div mat-card-avatar class="header-avatar">
          <!-- You can add an avatar if needed -->
        </div>
        <mat-card-title>
          <h3 class="card-price">₹{{ planitems.plan_price }}</h3>
        </mat-card-title>
        <mat-card-subtitle>
          <div class="badge">{{ planitems.plan_name }}</div>
        </mat-card-subtitle>
      </mat-card-header>
  
      <mat-card-content>
        <div class="icons">
          <img class="icon" src="https://jep-asset.akamaized.net/jiocom/static/images/ic_jiotv-n.svg" alt="JioTV logo">
          <img class="icon" src="https://jep-asset.akamaized.net/jiocom/static/images/Z0072.svg" alt="Netflix logo">
          <div class="more-info">++2 more</div>
        </div>
  
        <div class="details-info">
          <div class="info">
            <div class="info-title">Speed</div>
            <div class="info-value">{{ planitems.plan_speed }}</div>
          </div>
          <div class="info">
            <div class="info-title">Internet</div>
            <div class="info-value">{{ planitems.plan_speed }}</div>
          </div>
        </div>
      </mat-card-content>
  
      <mat-card-actions class="card-footer">
        <button mat-button class="button primary" aria-label="Recharge">Recharge</button>
        <button mat-button class="button tertiary" aria-label="View details">View details</button>
      </mat-card-actions>
    </mat-card>
  </div>

 

