

.toggle-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.toggle-button {
  background: linear-gradient(90deg, #2196F3 0%, #1976D2 100%);
  color: #ffffff;
  border-radius: 15px;
  padding: 8px 16px;
  cursor: pointer;
}

.toggle-button.active {
  background: linear-gradient(90deg, #1565C0 0%, #0D47A1 100%);
  border: 2px solid #1976D2;
}

/* Add this style to your CSS file */
body {
  font-family: 'Roboto', sans-serif; /* Use Roboto font as the default for the entire body */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

/* ... (existing styles) ... */


.card {
  width: 300px;
  margin: 16px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-header {
  background: linear-gradient(135deg, #2196F3, #1565C0); /* Blue gradient */
  color: #ffffff;
}

.card-price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  color: black;
}

.badge {
  background: linear-gradient(135deg, #03A9F4, #0288D1); /* Light Blue gradient */
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 4px;
}

.icons {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 3.5px;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: -8px;
}

.more-info {
  font-size: 14px;
  align-self: center;
  margin-left: -8px;
}

.details-info {
  display: flex;
  justify-content: space-between;
  padding: 0 16px 16px 16px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-title {
  color: #616161;
  font-size: 14px;
  margin-bottom: 4px;
}

.info-value {
  font-size: 16px;
  font-weight: bold;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.button {
  flex: 1;
  cursor: pointer;
  border-radius: 15px;
}

.primary {
  background: linear-gradient(135deg, #2196F3, #1565C0); /* Blue gradient */
  color: #ffffff;
}

.tertiary {
  background: linear-gradient(135deg, #81D4FA, #4FC3F7); /* Light Blue gradient */
  color: #333333;
  border: 1px solid #2196F3;
}

.button:hover {
  filter: brightness(90%);
}

.primary:hover {
  background: linear-gradient(135deg, #1565C0, #0D47A1); /* Darker Blue gradient */
}

.tertiary:hover {
  background: linear-gradient(135deg, #B3E5FC, #81D4FA); /* Lighter Blue gradient */
  border-color: #1565C0;
  color: #1565C0;
}

/* Added gap between buttons */
.card-footer button:first-child {
  margin-right: 8px;
}
